<template>
    <div class="root">
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Jira Authentication</h3>
            <div slot="body">
                <form>
                    <div class="row">
                        <div class="twelve columns">
                            <label for="host">Jira Host</label>
                            <input class="u-full-width" type="text" placeholder="jira.atlassian.com" v-model="config.jira.host">
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label for="host">Username</label>
                            <input class="u-full-width" type="text" v-model="config.jira.user">
                        </div>
                        <div class="six columns">
                            <label for="host">Password</label>
                            <input class="u-full-width" type="password" v-model="config.jira.password">
                        </div>
                    </div>
                </form>
            </div>
            <div slot="footer">
                <a class="button" @click="showModal = false">Cancel</a>
                <a class="button button-primary u-pull-right" @click="saveConfig">Save</a>
            </div>
        </modal>
        <div class="topbar">
            <div class="updateCount" @click="requestUpdate()">
                <i v-if="loading" class="fa fa-spinner fa-pulse"></i>
                <i class="fa fa-refresh" style="color:#25ff1b" v-if="!loading"></i>
                {{getUpdatedAt()}}
            </div>
            <i class="fa fa-cogs u-pull-left" style="cursor:pointer" aria-hidden="true" @click="showModal = true"></i>
        </div>
        <ticketlist v-if="issues.awaitingRelease.length > 0" :tickets="issues.awaitingRelease" title="Awaiting Release"></ticketlist>
        <ticketlist v-if="issues.preQA.length > 0" :tickets="issues.preQA" title="Pre-QA"></ticketlist>
        <ticketlist v-if="issues.inUX.length > 0" :tickets="issues.inUX" title="In UX Review"></ticketlist>
        <ticketlist v-if="issues.readyForQA.length > 0" :tickets="issues.readyForQA" title="Ready for QA"></ticketlist>
        <ticketlist v-if="issues.inProgress.length > 0" :tickets="issues.inProgress" title="In Progress"></ticketlist>
        <ticketlist v-if="issues.actionable.length > 0" :tickets="issues.actionable" title="Next Up"></ticketlist>
        <ticketlist v-if="issues.inQA.length > 0" :tickets="issues.inQA" title="In QA"></ticketlist>
    </div>
</template>

<script>
import moment from 'moment';
import { ipcRenderer } from 'electron';
import TicketList from './TicketList';
import Spinner from './Spinner';
import stylesheet from './stylesheet';
import modal from './modal.vue';
import config, {updateConfig} from '../../../lib/conf';



export default {
    data() {
        this.requestUpdate();
        return ({
            config:config,
            showModal: false,
            report: {
                updatedAt: null,
                tickets: []
            },
            tickets: [],
            issues: {
                actionable: [],
                inProgress: [],
                readyForQA: [],
                preQA: [],
                inQA: [],
                inUX: [],
                awaitingRelease: []
            },
            loading: false
        })
    },
    components: {
        'ticketlist': TicketList,
        'spinner': Spinner,
        'stylesheet': stylesheet,
        'modal': modal
    },
    methods: {
        processData() {
            this.issues.actionable = this.tickets.filter(ticket => ['In Progress', 'Dev Done', 'Ready for Release', 'Ready for PM/UX Review', 'Closed', 'QA in Progress', 'QA Passed'].indexOf(ticket.status.name) == -1)
            this.issues.inProgress = this.tickets.filter(ticket => ticket.status.name === 'In Progress')
            this.issues.inUX = this.tickets.filter(ticket => ticket.status.name === 'Ready for PM/UX Review')
            this.issues.preQA = this.tickets.filter(ticket => ticket.status.name === 'Dev Done')
            this.issues.readyForQA = this.tickets.filter(ticket => ticket.status.name === 'Ready for QA')
            this.issues.awaitingRelease = this.tickets.filter(ticket => ticket.status.name === 'Ready for Release')
            this.issues.closed = this.tickets.filter(ticket => ticket.status.name === 'Closed')
            this.issues.inQA = this.tickets.filter(ticket => ticket.status.name === 'QA in Progress')
        },

        saveConfig(){
            updateConfig(this.config);
            this.showModal=false;
            this.requestUpdate()
        },

        updateReport(report) {
            console.dir(report.tickets.map(ticket => (`${ticket.id} --- ${ticket.status.name}`)));
            this.report = report
            this.tickets = report.tickets.filter(ticket => !ticket.issuetype.subtask); //no subtasks
            this.processData();
        },

        getUpdatedAt() {
            return this.report.updatedAt !== null ? moment(this.report.updatedAt).format('HH.mm:ss') : '---';
        },

        requestUpdate() {
            ipcRenderer.send('requestUpdate');
        }

    }
}
</script>

<style>
html,
body * {
    box-sizing: border-box;
}
</style>

<style scoped>
.topbar {
    position: fixed;
    display: block;
    width: 100%;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background: #333;
    padding: 10px;
    box-shadow: 0 -5px 12px 6px rgba(0, 0, 0, 0.5);
}

.settings,
.updateCount {
    display: inline-block;
    font-style: italic;
    cursor: pointer;
}

.root {
    padding: 45px 10px 10px;
    position: relative;
}
</style>
