<template>
  <div class="loader">
  </div>
</template>

<style scoped>
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7-data-v-e38b166a 1.8s infinite ease-in-out;
  animation: load7-data-v-e38b166a 1.8s infinite ease-in-out;
}

.loader {
  color: #51adff;
  font-size: 10px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  display: inline-block;
  position: relative;
  top: -26px;
  margin-right: 8px;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: 0.5em;
  /* -webkit-animation-delay: -0.32s; */
  animation-delay: -0.32s;
  color: red;
}

.loader:after {
  left: 1em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
</style>
