<template>
    <div>
        <div style="display:flex" class="ticket">
            <div class="ticket-col-key">
                <i :class="`fa fa-fw fa-chevron-${expanded?'down':'right'}`" @click="expanded=!expanded" :style="`visibility: ${ticket.subtasks.length>0?'visible':'hidden'}`"></i><img v-if="ticket.issuetype && ticket.issuetype.iconUrl" :src="ticket.issuetype.iconUrl" :alt="ticket.issuetype.name" style="display: inline-block; vertical-align: middle; border-radius: 15%" />
                <span @click="showTicket(ticket.key)" class="ticket-key">{{ticket.key}}</span>
            </div>
            <div class="ticket-col-assignee">{{ticket.status.name}}</div>
            <div class="ticket-col-status">
                <img v-if="ticket.assignee && ticket.assignee.avatarUrls" :src="ticket.assignee.avatarUrls['32x32']" width=24 height=24 style="display: inline-block; vertical-align: middle; border-radius: 15%" :alt="ticket.assignee.emailAddress" />
                <span>{{ticket.assignee?ticket.assignee.displayName : 'Unassigned'}}</span>
            </div>
            <div class="ticket-col-summary">{{ticket.summary}}</div>
        </div>
        <div style="background-color:  #eeeeee;" v-if="ticket.subtasks.length>0 && expanded">
            <div v-for="ticket in ticket.subtasks" :key="ticket.id" style="display:flex; font-size: 0.9em" class="ticket">
                <div class="" style="padding-left: 20px; flex: 1">
                    <span @click="showTicket(ticket.key)" class="ticket-key">{{ticket.key}}</span>
                </div>
                <div class="" style="flex:2">{{ticket.status.name}}</div>
                <div class="" style="flex:2">
                    <span>{{ticket.assignee?ticket.assignee.displayName : 'Unassigned'}}</span>
                </div>
                <div class="" style="flex:4">{{ticket.summary}}</div>
            </div>
        </div>
    </div>
</template>

<script>
import { ipcRenderer } from 'electron';

export default {
    data: () => {
        return {
            expanded: false
        }
    },
    props: ['ticket'],
    methods: {
        showTicket(ticketKey) {
            ipcRenderer.send('showTicket', ticketKey)
        }
    }
}
</script>

<style scoped>
.ticket>div {
    padding: 5px;
    vertical-align: top;
}

.ticket-col-key {
    flex: 1
}

.ticket-col-assignee,
.ticket-col-status {
    flex: 2
}


.ticket-col-summary {
    flex: 4
}


.ticket-key:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.ticket:hover {
    background-color: #dddddd;
    cursor: pointer;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
</style>
