<template>
    <div>
        <h5>{{title}}</h5>
        <div class="u-full-width ticketlist">
            <div class="thead">
                <div class="flex: 1" style="; width:110px">Ticket</div>
                <div class="flex: 2" style="; width:220px">Status</div>
                <div class="flex: 2" style="; width:220px">Assignee</div>
                <div class="flex: 4" style="flex-grow:1;">Summary</div>
            </div>
            <div class="">
                <ticket v-for="ticket in tickets" :key="ticket.id" :ticket="ticket"></ticket>
            </div>
        </div>
    </div>
</template>



<script>
import { ipcRenderer } from 'electron';
import Ticket from './Ticket';

export default {
    data: () => {
        return {}
    },
    props: ['tickets', 'title'],
    components: {
        ticket: Ticket
    },
    methods: {
        showTicket(ticketKey) {
            ipcRenderer.send('showTicket', ticketKey)
        }
    }
}
</script>



<style scoped>
.ticketlist {
    border: 1px solid #efefef;
    box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.2);
}

.ticketlist:hover{
    box-shadow: 1px 1px 8px -1px rgba(0,0,0,0.6);
}

.thead {
    background-color: #efefef;
    display: flex;
}

.th {
    padding: 5px;
}


h5 {
    margin-bottom: 1rem;
    margin-top: 3rem;
}
</style>
