<template>
    <div ref="root">
        <md-dialog ref="settings">
            <md-dialog-title>Jira Authentication</md-dialog-title>
            <md-dialog-content>
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                        <label>Jira Host</label>
                        <md-input v-model="config.jira.host"></md-input>
                    </md-input-container>
                    <md-input-container>
                        <label>Username</label>
                        <md-input v-model="config.jira.user"></md-input>
                    </md-input-container>
                    <md-input-container md-has-password>
                        <label>Password</label>
                        <md-input type="password" v-model="config.jira.password"></md-input>
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" @click="closeDialog('settings')">Cancel</md-button>
                <md-button class="md-primary" @click="saveConfig">Ok</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-whiteframe md-tag="md-toolbar" md-elevation="2" style="position: sticky; top: 0px; z-index:10">
            <h1 class="md-title" style="flex:1">Jira4Teams</h1>
            <md-menu md-align-trigger md-size="6">
                <md-button md-menu-trigger>{{getProjectTitle}}</md-button>
                <md-menu-content>
                    <md-menu-item v-for="project in projects" :key="project.id" @click="saveProject(project.id)">{{`${project.name} (${project.key})`}}</md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu md-align-trigger style="margin-right: 50px;" md-size="6">
                <md-button md-menu-trigger>{{getBoardTitle}}</md-button>
                <md-menu-content>
                    <md-menu-item v-for="board in boards" :key="board.id" @click="saveBoard(board.id)">{{`${board.name}`}}</md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="md-icon-button" @click="openDialog('settings')">
                <md-icon>settings</md-icon>
            </md-button>

            <div class="reload-container">
                <md-spinner v-if="loading" :md-size="35" md-indeterminate class="md-accent loading" :md-stroke="5"></md-spinner>
            </div>

        </md-whiteframe>
        <md-tabs>
            <md-tab md-label="My Focus" id="tab-me">
                <ticketlist :tickets="issues.my.awaitingRelease" title="Awaiting Release"></ticketlist>
                <ticketlist :tickets="issues.my.preQA" title="Pre-QA"></ticketlist>
                <ticketlist :tickets="issues.my.inUX" title="In UX Review"></ticketlist>
                <ticketlist :tickets="issues.my.readyForQA" title="Ready for QA"></ticketlist>
                <ticketlist :tickets="issues.my.subtasks" title="My Open Subtasks"></ticketlist>
                <ticketlist :tickets="issues.my.inProgress" title="In Progress"></ticketlist>
                <ticketlist :tickets="issues.my.actionable" title="Next Up"></ticketlist>
                <ticketlist :tickets="issues.my.inQA" title="In QA"></ticketlist>
                <ticketlist :tickets="issues.unassigned" title="Unassigned"></ticketlist>
            </md-tab>
            <md-tab md-label="Team Focus" id="tab-team">
                <ticketlist :tickets="issues.awaitingRelease" title="Awaiting Release"></ticketlist>
                <ticketlist :tickets="issues.preQA" title="Pre-QA"></ticketlist>
                <ticketlist :tickets="issues.inUX" title="In UX Review"></ticketlist>
                <ticketlist :tickets="issues.readyForQA" title="Ready for QA"></ticketlist>
                <ticketlist :tickets="issues.inProgress" title="In Progress"></ticketlist>
                <ticketlist :tickets="issues.actionable" title="Next Up"></ticketlist>
                <ticketlist :tickets="issues.inQA" title="In QA"></ticketlist>
            </md-tab>
        </md-tabs>
    </div>
</template>

<script>
import moment from "moment"
import { ipcRenderer } from "electron"
import TicketList from "./TicketList"

import config, { updateConfig } from "../../../lib/conf"

const filters = {
    actionable(ticket) {
        return ["In Progress", "Dev Done", "Ready for Release", "Ready for PM/UX Review", "Closed", "QA in Progress", "QA Passed", "Ready for QA"].indexOf(ticket.status.name) === -1
    },
    inProgress(ticket) {
        return ["In Progress"].indexOf(ticket.status.name) >= 0
    },
    inUX(ticket) {
        return ["Ready for PM/UX Review"].indexOf(ticket.status.name) >= 0
    },
    preQA(ticket) {
        return ["Dev Done"].indexOf(ticket.status.name) >= 0
    },
    readyForQA(ticket) {
        return ["Ready for QA"].indexOf(ticket.status.name) >= 0
    },
    awaitingRelease(ticket) {
        return ["Ready for Release", "QA Passed"].indexOf(ticket.status.name) >= 0
    },
    closed(ticket) {
        return ["Closed"].indexOf(ticket.status.name) >= 0
    },
    inQA(ticket) {
        return ["QA in Progress"].indexOf(ticket.status.name) >= 0
    }
}

export default {
    data() {
        this.requestUpdate()
        return {
            config: config,
            boards: [],
            projects: [],
            showModal: false,
            report: {
                updatedAt: null,
                tickets: []
            },
            tickets: [],
            issues: {
                actionable: [],
                inProgress: [],
                readyForQA: [],
                preQA: [],
                inQA: [],
                inUX: [],
                awaitingRelease: [],
                my: {
                    all: [],
                    actionable: [],
                    inProgress: [],
                    readyForQA: [],
                    preQA: [],
                    inQA: [],
                    inUX: [],
                    awaitingRelease: []
                }
            },
            loading: false
        }
    },
    components: {
        ticketlist: TicketList
    },
    methods: {
        processData() {
            this.issues.actionable = this.tickets.filter(filters.actionable)
            this.issues.inProgress = this.tickets.filter(filters.inProgress)
            this.issues.inUX = this.tickets.filter(filters.inUX)
            this.issues.preQA = this.tickets.filter(filters.preQA)
            this.issues.readyForQA = this.tickets.filter(filters.readyForQA)
            this.issues.awaitingRelease = this.tickets.filter(filters.awaitingRelease)
            this.issues.closed = this.tickets.filter(filters.closed)
            this.issues.inQA = this.tickets.filter(filters.inQA)

            this.issues.unassigned = []
            this.issues.my.all = this.tickets.filter(ticket => {
                if (ticket.assignee) {
                    return ticket.assignee.key === config.jira.user
                } else {
                    this.issues.unassigned.push(ticket)
                    return false
                }
            })

            this.issues.my.subtasks = this.report.tickets
                .filter(ticket => {
                    if (ticket.assignee) {
                        return ticket.assignee.key === config.jira.user
                    }
                })
                .filter(ticket => !!ticket.issuetype.subtask)
                .filter(ticket => filters.actionable(ticket) || filters.inProgress(ticket))

            this.issues.my.actionable = this.issues.my.all.filter(filters.actionable)
            this.issues.my.inProgress = this.issues.my.all.filter(filters.inProgress)
            this.issues.my.inUX = this.issues.my.all.filter(filters.inUX)
            this.issues.my.preQA = this.issues.my.all.filter(filters.preQA)
            this.issues.my.readyForQA = this.issues.my.all.filter(filters.readyForQA)
            this.issues.my.awaitingRelease = this.issues.my.all.filter(filters.awaitingRelease)
            this.issues.my.closed = this.issues.my.all.filter(filters.closed)
            this.issues.my.inQA = this.issues.my.all.filter(filters.inQA)
        },

        saveConfig() {
            updateConfig(this.config)
            this.closeDialog("settings")
            this.requestUpdate()
        },

        saveProject(projectId) {
            this.config.project = projectId
            updateConfig(this.config)
            ipcRenderer.send("getBoards")
        },

        saveBoard(boardId) {
            this.config.jira.boardId = boardId
            updateConfig(this.config)
            this.requestUpdate()
        },

        updateReport(report) {
            console.dir(report.tickets.map(ticket => `${ticket.id} --- ${ticket.status.name}`))
            this.report = report
            this.tickets = report.tickets.filter(ticket => !ticket.issuetype.subtask) //no subtasks
            this.processData()
        },

        updateProjects(projects) {
            this.projects = projects
        },

        updateBoards(boards) {
            this.boards = boards
        },

        getUpdatedAt() {
            return this.report.updatedAt !== null ? moment(this.report.updatedAt).format("HH.mm:ss") : "---"
        },

        requestUpdate() {
            ipcRenderer.send("requestUpdate")
        },

        openDialog(ref) {
            this.$refs[ref].open()
        },

        closeDialog(ref) {
            this.$refs[ref].close()
        }
    },
    computed: {
        getProjectTitle() {
            if (Array.isArray(this.projects)) {
                let project = this.projects.find(project => project.id === this.config.project)
                if (project) {
                    return `${project.name} (${project.key})`
                } else {
                    return "---- Select a Project ----"
                }
            } else {
                return "---- Select Project ----"
            }
        },

        getBoardTitle() {
            if (Array.isArray(this.boards)) {
                console.log({ boardId: this.config.jira.boardId })
                let board = this.boards.find(board => board.id === this.config.jira.boardId)
                if (board) {
                    return `${board.name}`
                } else {
                    return "---- Select a board ----"
                }
            } else {
                return "---- Select board ----"
            }
        }
    }
}
</script>

<style>
html,
body * {
    box-sizing: border-box;
}
.md-theme-default.md-tabs > .md-tabs-navigation {
    position: sticky;
    top: 64px;
}
.reload-container {
    position: absolute;
    top: 8px;
    right: 80px;
    /* position: relative; */
}

.reload-button {
    width: 36px;
    height: 36px;
    line-height: 11px;
    position: absolute;
    top: 0;
    left: 0;
}

.loading {
    width: 41px;
    top: 6px;
    left: 6px;
    height: 34px;
    position: absolute;
}
</style>

<style scoped>
.topbar {
    position: fixed;
    display: block;
    width: 100%;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background: #333;
    padding: 10px;
    box-shadow: 0 -5px 12px 6px rgba(0, 0, 0, 0.5);
}

.settings,
.updateCount {
    display: inline-block;
    font-style: italic;
    cursor: pointer;
}

.root {
    padding: 45px 10px 10px;
    position: relative;
}
</style>
