<template>
    <div :class="`ticketBoundary ${expanded?'expanded':''}`">
        <div style="display:flex" :class="`ticket ${expanded?'expanded':''}`">
            <div class="ticket-col-key" @click="ticket.subtasks.length>0 && (expanded=!expanded)">
                <md-icon :style="`visibility: ${ticket.subtasks.length>0?'visible':'hidden'}`">{{`keyboard_arrow_${expanded?'down':'right'}`}}</md-icon>
                <img v-if="ticket.priority && ticket.priority.iconUrl" :src="ticket.priority.iconUrl" class="imgicon" :title="ticket.priority.name">
                <img v-if="ticket.issuetype && ticket.issuetype.iconUrl" :src="ticket.issuetype.iconUrl" class="imgicon" :title="ticket.issuetype.name">
                <span @click="showTicket(ticket.key)" class="ticket-key">{{ticket.key}}</span>
            </div>
            <div class="ticket-col-estimate">{{ticket.estimate}}</div>
            <div class="ticket-col-assignee">
                <img v-if="ticket.status && ticket.status.iconUrl" :src="ticket.status.iconUrl" class="imgicon" :title="ticket.status.description"> {{ticket.status.name}}
            </div>
            <div class="ticket-col-status">
                <img v-if="ticket.assignee && ticket.assignee.avatarUrls" :src="ticket.assignee.avatarUrls['32x32']" width=24 height=24 style="display: inline-block; vertical-align: middle; border-radius: 15%" :alt="ticket.assignee.emailAddress" />
                <span>{{ticket.assignee?ticket.assignee.displayName : 'Unassigned'}}</span>
            </div>
            <div class="ticket-col-summary">{{ticket.summary}}</div>
        </div>
        <div style="background-color:  rgba(0,0,0,0.02);" v-if="ticket.subtasks.length>0 && expanded">
            <div v-for="ticket in ticket.subtasks" :key="ticket.id" style="display:flex; font-size: 0.9em;" class="ticket">
                <div class="ticket-col-key" style=" margin-left: 20px" @click="expanded=!expanded">
                    <img v-if="ticket.priority && ticket.priority.iconUrl" :src="ticket.priority.iconUrl" class="imgicon" :title="ticket.priority.name">
                    <img v-if="ticket.issuetype && ticket.issuetype.iconUrl" :src="ticket.issuetype.iconUrl" class="imgicon" :title="ticket.issuetype.name">
                    <span @click="showTicket(ticket.key)" class="ticket-key">{{ticket.key}}</span>
                </div>
                <div class="ticket-col-estimate">{{ticket.estimate}}</div>
                <div class="ticket-col-assignee">
                    <img v-if="ticket.status && ticket.status.iconUrl" :src="ticket.status.iconUrl" class="imgicon" :title="ticket.status.description"> {{ticket.status.name}}
                </div>
                <div class="ticket-col-status">
                    <img v-if="ticket.assignee && ticket.assignee.avatarUrls" :src="ticket.assignee.avatarUrls['32x32']" width=24 height=24 style="display: inline-block; vertical-align: middle; border-radius: 15%" :alt="ticket.assignee.emailAddress" />
                    <span>{{ticket.assignee?ticket.assignee.displayName : 'Unassigned'}}</span>
                </div>
                <div class="ticket-col-summary">{{ticket.summary}}</div>
            </div>
        </div>
    </div>
</template>

<script>
import { ipcRenderer } from "electron"

export default {
    data: () => {
        return {
            expanded: false
        }
    },
    props: ["ticket"],
    methods: {
        showTicket(ticketKey) {
            ipcRenderer.send("showTicket", ticketKey)
        }
    }
}
</script>

<style scoped>
.ticketBoundary.expanded {
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin-bottom: 10px;
    transition: 100ms box-shadow;
}

.ticketBoundary.expanded:hover {
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 100ms box-shadow;
}

.imgicon {
    width: 18px;
    height: 18px;
}

.ticket > div {
    padding: 5px;
    vertical-align: top;
}

.ticket.expanded {
    background-color: rgba(0, 0, 0, 0.1);
}

.ticket-col-key {
    flex: 0 0 180px;
}

.ticket-col-estimate {
    flex: 0 0 30px;
    text-align: center;
}

.ticket-col-assignee,
.ticket-col-status {
    flex: 2;
}

.ticket-col-summary {
    flex: 5;
}

.ticket-key:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.ticket {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 2px;
}

.ticket:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: 200ms all;
}
</style>
