<template>
    <md-card style="margin-top: 15px;" md-with-hover v-if="Array.isArray(tickets) && tickets.length > 0">
        <md-card-header>
            <div class="md-title">{{title}}</div>
        </md-card-header>
        <md-card-content>
            <ticket v-for="ticket in tickets" :key="ticket.id" :ticket="ticket"></ticket>
        </md-card-content>
    </md-card>
</template>



<script>
import { ipcRenderer } from 'electron';
import Ticket from './Ticket';

export default {
    data: () => {
        return {}
    },
    props: ['tickets', 'title'],
    components: {
        ticket: Ticket
    },
    methods: {
        showTicket(ticketKey) {
            ipcRenderer.send('showTicket', ticketKey)
        }
    }
}
</script>



<style scoped>
.ticketlist {
    border: 1px solid #efefef;
    box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.2);
}

.ticketlist:hover {
    box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.6);
}

.thead {
    background-color: #efefef;
    display: flex;
}

.th {
    padding: 5px;
}


h5 {
    margin-bottom: 1rem;
    margin-top: 3rem;
}
</style>
