<template>
    <div>
        <div class="topbar">
            <spinner v-if="loading" />
            <div class="updateCount" @click="requestUpdate()">Updated: {{getUpdatedAt()}}</div>
            <span class="settings">Settings</span>
        </div>
        <ticketlist v-if="issues.awaitingRelease.length > 0" :tickets="issues.awaitingRelease" title="Awaiting Release"></ticketlist>
        <ticketlist v-if="issues.preQA.length > 0" :tickets="issues.preQA" title="Pre-QA"></ticketlist>
        <ticketlist v-if="issues.inUX.length > 0" :tickets="issues.inUX" title="In UX Review"></ticketlist>
        <ticketlist v-if="issues.readyForQA.length > 0" :tickets="issues.readyForQA" title="Ready for QA"></ticketlist>
        <ticketlist v-if="issues.inProgress.length > 0" :tickets="issues.inProgress" title="In Progress"></ticketlist>
        <ticketlist v-if="issues.actionable.length > 0" :tickets="issues.actionable" title="Next Up"></ticketlist>
    </div>
</template>

<script>
import moment from 'moment';
import { ipcRenderer } from 'electron';
import TicketList from './TicketList';
import Spinner from './Spinner';
import stylesheet from './stylesheet';

export default {
    data() {
        return ({
            report: {
                updatedAt: null,
                tickets:[]
            },
            tickets: [],
            issues: {
                actionable: [],
                inProgress: [],
                readyForQA: [],
                preQA: [],
                inUX:[],
                awaitingRelease: []
            },
            loading: false
        })
    },
    components: {
        'ticketlist': TicketList,
        'spinner': Spinner,
        'stylesheet':stylesheet
    },
    methods: {
        updateReport(report) {
            console.dir(report.tickets.map(ticket=>(`${ticket.id} --- ${ticket.status.name}`)));
            this.report = report
            this.tickets = report.tickets;
            this.issues.actionable = this.report.tickets.filter(ticket => ['In Progress', 'Dev Done', 'Ready for Release', 'Ready for PM/UX Review','Closed'].indexOf(ticket.status.name) == -1)
            this.issues.inProgress = this.report.tickets.filter(ticket => ticket.status.name === 'In Progress')
            this.issues.inUX = this.report.tickets.filter(ticket => ticket.status.name === 'Ready for PM/UX Review')
            this.issues.preQA = this.report.tickets.filter(ticket => ticket.status.name === 'Dev Done')
            this.issues.readyForQA = this.report.tickets.filter(ticket => ticket.status.name === 'Ready for QA')
            this.issues.awaitingRelease = this.report.tickets.filter(ticket => ticket.status.name === 'Ready for Release')
            this.issues.closed = this.report.tickets.filter(ticket => ticket.status.name === 'Closed')
        },

        getUpdatedAt() {
            return this.report.updatedAt !== null ? moment(this.report.updatedAt).format('HH.mm::ss') : '---';
        },

        requestUpdate() {
            ipcRenderer.send('requestUpdate');
        }

    }
}
</script>

<style>
html,body * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
</style>

<style scoped>
.topbar {
    display: block;
    width: 100%;
    text-align: right;
}

.settings,
.updateCount {
    display: inline-block;
    font-size: 11px;
    color: #666666;
    font-style: italic;
    cursor: pointer;
}

.settings {
    font-weight: bold;
}

.settings:hover {
    color: blue;
    cursor: pointer;
}
</style>
