<template>
    <li class="ticket">
        <span @click="showTicket(ticket.key)" class="label key">{{ticket.key}}</span>
        <span class="label status" :data-status="ticket.status.id">{{ticket.status.name}}</span>
        <span class="label dev">{{ticket.assignee?ticket.assignee.displayName : 'Unassigned'}}</span>
        <span class="summary">{{ticket.summary}}</span>
    </li>
</template>


<script>
import { ipcRenderer } from 'electron';

export default {
    data: () => {
        return {}
    },
    props: ['ticket'],
    methods: {
        showTicket(ticketKey) {
            ipcRenderer.send('showTicket', ticketKey)
        }
    }
}
</script>

<style scoped>
.label {
    background-color: #ccc;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.label.key {
    background-color: cornflowerblue;
}

.label[data-status="11700"] {
    background-color: green;
}

.label[data-status="10500"] {
    background-color: mediumorchid;
}

.label[data-status="3"] {
    background-color: darkgoldenrod;
}

.ticket {
    display: block;
    list-style: none;
    margin: 0;
    padding: 8px 5px;
}

.summary {
    padding-left: 10px;
}

.ticket:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.ticket:hover .label {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
</style>
