<template>
    <div>
        <h1>{{title}}</h1>
        <ul class="ticketlist">
            <ticket v-for="ticket in tickets" :key="ticket.id" :ticket="ticket"></ticket>
        </ul>
    </div>
</template>


<script>
import { ipcRenderer } from 'electron';
import Ticket from './Ticket';

export default {
    data: () => {
        return {}
    },
    props: ['tickets', 'title'],
    components: {
        ticket: Ticket
    },
    methods: {
        showTicket(ticketKey) {
            ipcRenderer.send('showTicket', ticketKey)
        }
    }
}
</script>


<style scoped>
h1 {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    color: #222;
}
.ticketlist {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
</style>
